   

   .col-s-1{width: 8.33%;}
   .col-s-2{width: 16.66%;}
   .col-s-3{width: 25%;}
   .col-s-4{width:33.33%;}
   .col-s-5{width: 41.66%;}
   .col-s-6{width: 50%;}
   .col-s-7{width: 58.33%;}
   .col-s-8{width: 66.66%;}
   .col-s-9{width: 75%;}
   .col-s-10{width: 83.33%;}
   .col-s-11{width: 91.66;}
   .col-s-12{width: 100%;}

 *{
  box-sizing: border-box;
  font-family: 'Fira Sans', sans-serif;
 }

 body{
  margin: 0%;
 }

 /* navbar design start from here */

 .nav-logo>img{

  height: 60px;
  width: 60px;

 }
 h1{
  font-size: 2.5rem;
  text-align: center;
 }

 a{

  font-size: 1.2rem;
  text-decoration: none;
  color: white;
 }
 
 p{
  font-size: 1.2rem;
  text-align: justify;
 }

 [class*="col-"]{
  float: left;
  padding: 10px;
 }

 /* for mobile */

 [class*="col-"]{
  width: 100%;
 }

 .navbar{
  background-color: #0c6168;
  padding: 1% 7%;
  text-align: center;
 }

 .navbar h1{
  color: white;
  margin: 0;
  padding-top: 10px;
 }

 .navbar::after{
  content: '';
  display: table;
  clear: both;
 }
 .nav-menu{

  display: flex;
  flex-direction: column;
  text-transform: uppercase;



 }

 .nav-menu a{
  background-color: #40868B;
  margin: 7px 0;
  border-radius: 10px;
  padding: 10px;

 }

 .nav-menu a:hover{
  background-color: gray;
 }
 /* Navbar design ends here */


 /* profile design starts from here */

 .profile{

  padding: 130px 10px;
  position: relative;
  text-align: center;

 }

 .profile img{
  width: 100px;
  height: 100px;
 }

 .profile .top-weather-icon{

  position: absolute;
  right: 60px;
  top: 20px;
  transition: transform 2s;
 }

 .profile .top-weather-icon:hover{
  transform: rotate(360deg);
 }

 .profile-description h1{

  font-family: 'Satisfy', cursive;
  font-size: 3rem;

}

.profile-description p{
  text-align: center;
  color: gray;
  width: 90%;
  margin: 0 auto 20px auto;
}

 .profile .bottom-weather-icon{
  position:absolute;
  left: 60px;
  bottom: 10px;
  transition: transform 2s;

}

.profile .bottom-weather-icon:hover{
  transform: rotate(360deg);
}



.profile{
  content: '';
  display: table;
  clear: both;
}
 /* profile design ends here */